section.body-section > section{
    border:1px solid black;
}

svg{
    border: 1px solid red;
}

section.entire-body{
    display: flex;
    column-gap: 90px;
}


/* full page functionality, hide body until click, deactivated for ease of development*/

/* #intro{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#intro button{
    display: block;
    margin:10px;
} */

/* section.entire-body{
    display: none;
}
#intro .new{
    display: none;
}

.body-section > section{
    display:none;
}

#questions{
    height: 80vh;
    overflow: scroll;
} */

