.axis-label{
    fill: white;
}
.axis text, .xAxis text, .yAxis text, #xAxis text, #yAxis text{
    fill: white;
}
.axis path, .xAxis path, .yAxis path, #xAxis path, #yAxis path{
    stroke: white;
}
.svgLegend{
    height: 100px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    padding: 15px;
}
.svgLegend:not(.clickable){
    background-color: unset;
    border: 1px solid grey;
}
.svgLegend div.selected{
    font-weight: 800;
}
.svgLegend.clickable div:hover{
    font-weight: 800;
}
.multipleLegendDiv{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.multipleLegendDiv.row{
    flex-direction: row;
    /* justify-content: space-around; */
}
.multipleLegendDiv > div{
    width: 180px;
}

.d3-tip{
    font-size: 12px;
    background-color: lightblue;
    padding: 3px;
}

.d3-tip p {
    margin: 2px;
}

.industryLegend{
    height: fit-content;
}
.areaLegend{
    height: fit-content;
    max-height: 100px;
}


.scope .svgLegend {
    height: fit-content;
    max-height: 500px;
}
/* SCATTER */
#scatterChartNoScopeSection .axis-label{
    font-size: 10px;
}

#scatterChartNoScopeSection circle{
    position: relative;
}
#scatterChartNoScopeSection circle:hover{
    stroke: white;
    stroke-width: 1px;
    r: 3.5;
}
#scatterChartNoScopeSection circle.background{
    opacity: 0.1;
}

#scatterChartScopeSection circle:hover{
    stroke: white;
    stroke-width: 1px;
    r: 5;
}

/* LINE */

#lineChartNoScopeSection .line.background{
    opacity: 0.04;
    /* stroke: grey; */
}

#lineChartScopeSection .line:hover{
    stroke-width: 4px;
}
#lineChartNoScopeSection .line{
    stroke-width: 2px;
}

#barChartNoScopeSection .rects:hover{
    stroke: white;
    stroke-width: 1.5px;

}
#barChartScopeSection .rects:hover{
    stroke: white;
    stroke-width: 1.5px;
}
select{
    display: block;
    height: fit-content;
}

.selectGroup select {
    display: inline-block;
}


/* PIE */
#pieChartNoScopeSection .axis-label{
    /* font-size: 10px; */
}

#pieChartNoScopeSection g{
    position: relative;
}
#pieChartNoScopeSection path:hover{
    stroke: black;
    stroke-width: 1px;
    /* r: 3.5; */
}
#pieChartNoScopeSection g.background{
    opacity: 0.15;
}

.d3-tip *{
    color: black;
}